@use 'sass:color';

///// Global Configs /////

$teal: #0ff;
$green: #8e8;
$green-dk: color.scale($green, $lightness: -40%);
$purple: #4a235a;
$pink: #ff59d7;
$orange: #ff7a4c;
$white: #fff;
$grey: #777;
$black: #111;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700&family=Press+Start+2P&display=swap');

@font-face {
  font-family: 'setback';
  src: url('../public/fonts/setbackt.ttf');
}

html {
  background: $black;
  color: $white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4em;
  margin: 0; padding: 0;
}
body {
  margin: 0; padding: 0;
}

/**
 * Do color shifts for dark text on a light background.
 *
 * The root level styling for this application is a dark-colored background with light-colored text. That styling is used for
 * "in-universe"/lore text. For "real world"/help text, the colors are inverted (light background with dark text). To make
 * that look good when those two text treatments are nearby each other, the other colors need to be shifted slightly, in order to
 * appear perceptually the same (to human eyes, the same color "green" on a light background appears more "washed out"
 * than on a dark background, so to make them be perceived as the same, they actually need to be different colors).
 */
@mixin inverted-text {
  color: $black;
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: color.scale($green, $lightness: -20%, $saturation: -30%);
  }
  a {
    color: color.scale($green-dk, $lightness: -30%);
  }
  em,
  i {
    color: color.scale($orange, $lightness: -30%, $saturation: -30%);
  }
  strong,
  b {
    color: color.scale($orange, $lightness: -30%);
    text-shadow: 0 0 6px rgb(255 255 0);
  }
  code {
    color: color.scale($pink, $lightness: -20%);
  }
}

/**
 * Background stars effect
 */
#background {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: -100;
  & > div {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 200vh;
    z-index: -100;
    background-repeat: repeat;
  }
  #small-stars {
    background: url('../public/img/bgstarssmall.png');
  }
  #large-stars {
    background: url('../public/img/bgstarslarge.png');
  }
}

nav {
  background: $purple;
  height: 100vh;
  width: 300px;
  position: fixed;
  top:0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  font-size: 0.8rem;
  line-height: 1.2em;
  > div {
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    a:hover { text-decoration: none; }
  }
  #logo {
    background-color: rgba($white, 0.1);
    font-family: setback, sans-serif;
    font-size: 2rem;
    text-shadow: 0.05em 0.05em rgba($white, 0.25);
    text-align: center;
    line-height: 1em;
    text-transform: none;
    padding: 0.7rem 1rem;
    a { color: $green; }
  }
  h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    text-shadow: 0.15em 0.15em rgba($white, 0.25)
  }
  h2:not(:first-child) {
    margin-top: 2rem;
  }
  ul {
    margin: 0; padding: 0;
    li {
      margin-left: 1rem;
      padding: 0.2rem 0
    }
  }
  #wallet-connection {
    background-color: rgba($black, 0.2);
    text-align: center;
    .address-info { padding-bottom: 1rem; }
  }
}

/* Right-hand side of the page */
#content {
  margin-left: 300px;
}

/**
 * Overall page container for text content.
 * For best readability, having text lines be no longer than 75 characters long is recommended.
 */
 #content-container {
  max-width: 75em;
  margin: 0 auto;
  padding: 0 2rem;
}

.mooncat-row {
  display:flex;
  justify-content: space-around;
  > div {
    flex: 1 1 100px;
    display:grid;
    place-items: center;
    .mooncat-image {
      max-height: 200px;
      max-width: 200px;
    }
  }
}

///// Global tag styling /////

a {
  color: $green-dk;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Press Start 2P', monospace;
  color: $green;
  line-height: 1.6em;
  text-shadow: 0.1em 0.1em rgba($white, 0.25);
  a {
    color: inherit;
  }
}

em,
i {
  font-style: normal;
  color: color.scale($orange, $lightness: 30%, $saturation: -30%);
}
strong,
b {
  font-weight: bold;
  color: $orange;
  text-shadow: 0 0 6px rgb(226 216 0 / 59%);
}
code, .hex-string {
  color: $pink;
  background-color: rgba($pink, 0.2);
  display: inline-block;
  padding: 0 0.2rem;
  font-family: 'Roboto Mono', monospace;
}

p {
  margin: 0 0 1.5em;
  &:last-child {
    margin: 0;
  }
}

hr {
  margin: 1rem 0;
  height: 2px;
  border: 0;
  background: $grey;
}

button {
  background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.25);
  color: $orange;
  border: solid 2px color.scale($orange, $lightness: -20%, $saturation: -40%);
  font-size: 1.2rem;
  padding: 0.3em 0.5em;
  border-radius: 0.5em 0;
  font-weight: 700;
  cursor: pointer;
  &:hover {
    border-color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    color: $orange
  }
  &:active {
    border-color: color.scale($orange, $lightness: 60%, $saturation: -30%);
    color: color.scale($orange, $lightness: 30%, $saturation: -30%);
    background: rgba(color.scale($orange, $lightness: 20%, $saturation: -20%), 0.55);
  }
}

///// Multi-use component styling /////

h1.hero {
  text-align: center;
  font-family: setback, sans-serif;
  font-size: 4rem;
}

.section-header {
  color: $orange;
  text-align: center;
  font-size: 1rem;
  border-bottom: solid 2px $grey;
  padding-bottom: 1em;
  margin-top:0;
}

#item-grid {
  display: flex;
  flex-wrap: wrap;
  .item-thumb {
    border: solid 1px #222;
    background: rgba($black, 0.8);
    padding: 0;
    box-sizing: border-box;
    width: 10%;
    min-width: 150px;
    margin: -1px 0 0 -1px;
    text-align: center;
    font-size: 0.8rem;
    &:hover {
      background: rgba(#333, 0.8);
    }
    a { text-decoration: none; color: inherit; display: block; padding: 1rem; }
    .thumb-img {
      height: 120px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    p { margin: 0; }
  }
}

// The default "card" is a "lore card" (dark background, with light text)
.card {
  box-shadow: 0 0 40px 1px $teal, 8px 8px 0 0 rgba($white, 0.3);
  margin: 2rem 0.5rem;
  padding: 1rem;
  border: solid 2px $white;
  background: rgba($black, 0.8);
}

// A "real-world"/help card is inverted in colors (light background, with dark text)
.card-help {
  @extend .card;
  background: $white;
  @include inverted-text;
  box-shadow: 0 0 20px 1px rgba($teal, 0.5), 8px 8px 0 0 rgba($white, 0.3);
}

///// Responsive styling /////

@media (max-width: 40em) {
  #content-container {
    padding: 0 1rem;
  }
}
